* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
html {
  overflow-x: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  padding: 14px 28px;
  background-color: #ff5538;
  border-radius: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border: 2px solid transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn:hover {
  border: 2px solid #ff5538;
  background-color: #fff;
  color: #ff5538;
}

.btn2 {
  padding: 14px 28px;
  background-color: #fff;
  border-radius: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #ff5538;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border: 2px solid #ff5538;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn2:hover {
  border: 2px solid #fff;
  background-color: #ff5538;
  color: #fff;
}
h4 {
  font-size: 20px;
  font-weight: 600;
}
h2 {
  color: #29313d;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  color: #29313d;
}
small {
  font-family: "Poppins", sans-serif;
  color: #ff5538;
  font-weight: 500;
  font-size: 20px;
}
/* common css end */

/* navbar start */
nav {
  padding: 32px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav-container {
  display: flex;
}
.logo {
  width: 20%;
}
.logo img {
  width: 111px;
  height: 60px;
}
.menu {
  width: 60%;
}
.menu ul {
  display: flex;
  line-height: 60px;
  justify-content: space-evenly;
}
.menu ul li a {
  color: #29313d;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Contact-button {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* navbar end */

/* banner start */
.banner {
  padding: 200px 0 240px 0;
  background-color: #fbf3f0;
  position: relative;
  z-index: 0;
  width: 100%;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container h1 {
  font-family: "Poppins", sans-serif;
  width: 771px;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  position: relative;
  z-index: 5;
}
.banner-txt {
  width: 547px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #29313d;
  margin-top: 24px;
  position: relative;
  z-index: 9;
}
.banner-btn {
  width: 300px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  margin-top: 25px;
}
.purple-vector {
  position: absolute;
  top: 0;
  left: 0;
}
.pink-snake {
  position: absolute;
  left: 28px;
  top: 189px;
  animation: snake 5s linear infinite;
  -webkit-animation: snake 5s linear infinite;
  animation-direction: alternate;
}
@keyframes snake {
  from {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
  to {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
.blue-snake {
  position: absolute;
  bottom: 50px;
  right: -50px;
  animation: snake 5s linear infinite;
  -webkit-animation: snake 5s linear infinite;
  animation-direction: alternate;
}
.pink-circle {
  position: absolute;
  top: 92px;
  left: 46%;
  width: 100px;
  height: 100px;
  border: 2px solid #ffabba;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: round-circle 10s linear infinite;
  -webkit-animation: round-circle 10s linear infinite;
}
.inner-pink-disk {
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffabba;
  top: 9px;
  left: 0;
}
@keyframes round-circle {
  from {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
.golden-ball {
  position: absolute;
  left: 0;
  bottom: -75px;
}
.pink-big-circle {
  position: absolute;
  width: 218px;
  height: 218px;
  border: 2px solid #ffabba;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 83px;
  left: 100px;
  animation: round-circle 10s linear infinite;
  -webkit-animation: round-circle 10s linear infinite;
}
.blue-ball {
  position: absolute;
  top: -95px;
  left: 0;
}
.bluebigball {
  bottom: 50px;
  right: 70px;
  position: absolute;
  animation: round-circle 10s linear infinite;
  -webkit-animation: round-circle 10s linear infinite;
}
.banner-xmark-1 {
  position: absolute;
  font-size: 35px;
  color: #c48eee;
  top: 170px;
  right: 300px;
  animation: round-circle 10s linear infinite;

  -webkit-animation: round-circle 10s linear infinite;
}
.banner-xmark-2 {
  position: absolute;
  font-size: 20px;
  left: 150px;
  top: 100px;
  color: #ffabba;

  animation: round-circle 10s linear infinite;
  -webkit-animation: round-circle 10s linear infinite;
}
.banner-xmark-3 {
  position: absolute;
  font-size: 25px;
  color: #ffabba;
  top: 200px;
  left: 100px;
  animation: round-circle 10s linear infinite;
  -webkit-animation: round-circle 10s linear infinite;
}
.banner-xmark-4 {
  position: absolute;
  bottom: 250px;
  left: 70%;
  font-size: 25px;
  color: #ffabba;
  animation: round-circle 10s linear infinite;
  -webkit-animation: round-circle 10s linear infinite;
}
.banner-xmark-5 {
  position: absolute;

  font-size: 30px;
  color: #ffabba;
  top: 400px;
  left: 100px;
  animation: round-circle 10s linear infinite;
  -webkit-animation: round-circle 10s linear infinite;
}
.purple-right-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #c48eee;
  position: absolute;
  right: -50px;
  top: 100px;
}
.rightbottomvector {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mini-purple-disk {
  position: absolute;
  top: 150px;
  left: 65%;
  width: 20px;
  height: 20px;
  background-color: #c48eee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: updown 2s linear infinite;
  -webkit-animation: updown 2s linear infinite;
  animation-direction: alternate;
}
@keyframes updown {
  from {
    top: 150px;
  }
  to {
    top: 200px;
  }
}
/* banner end */

/* category box start */
.category-container {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.catagory-items {
  width: 32%;
  padding: 30px 40px;
  background: #ffffff;
  box-shadow: 0px 44px 40px rgba(0, 0, 0, 0.02);
}
.catagory-items img {
  width: 80px;
  height: 80px;
}
.catagory-items h4 {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  color: #29313d;
}
.catagory-items p {
  font-family: "Nunito", sans-serif;
  color: #29313d;
}
/* category box end */

/* connect people in digital life start */
.connect-people {
  margin-top: -30px;
  font-family: "Poppins", sans-serif;
}
.connect-people h2 {
  width: 449px;
}
.connect-people small {
  color: #ff5538;
  font-weight: 500;
  font-size: 20px;
}
.connect-people-content-box {
  width: 100%;
  position: relative;
  margin-top: 30px;
  height: 626px;
}
.img-box {
  position: absolute;
  width: 50%;
  height: 521px;
  background-color: grey;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.content-box {
  position: absolute;
  width: 55%;
  height: 626px;
  background-color: #fbf3f0;
  right: 0;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.content-box h3 {
  width: 600px;
}
.content-box p {
  color: #29313d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 400px;
}
.content-btn {
  margin-top: 15px;
}
.connect-people-circle {
  top: 0;
  left: 400px;
}
.connect-people-banner-xmark-1 {
  top: -80px;
  right: 100px;
}
.Content-bar-illustration {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.connect-people-section-pink-snake {
  position: absolute;
  bottom: -400px;
  left: -50px;
}
/* connect people in digital life end */

/* works still countin start */
.works-still-counting {
  margin-top: 100px;
}
.work-still-header-and-button {
  display: flex;
  justify-content: space-between;
}
.work-still-header-and-button h2 {
  width: 693px;
}
.work-still-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.work-still-content {
  margin-top: 30px;
}
.mobile-app {
  width: 39%;
  height: 350px;
  box-shadow: 0px -9px 40px rgba(26, 19, 62, 0.06);
}
.e-com_solution {
  width: 59%;
  height: 350px;
  box-shadow: 0px -9px 40px rgba(26, 19, 62, 0.06);
}
.work-still-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
}
.card-img {
  width: 100%;
  height: 75%;
  background-color: gray;
}
.card-txt {
  padding: 15px 24px;
  font-family: "Poppins", sans-serif;
  color: #29313d;
}
.card-read-more {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #ff5538;
}
/* works still coountin end */
